<h3><center> rekap kehadiran {{nrp}}  pada mata kuliah {{kode_mk}}</center> </h3>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Mahasiswa</th>
            <th>Nama Mata Kuliah</th>
            <th>Pertemuen Ke</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each values}}
        <tr>
            <td>{{nama}}</td>
            <td>{{nama_matkul}}</td>
            <td>{{pertemuan_ke}}</td>
            <td>{{status}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>